@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
:root { 
  --main-bg-color: #bd6418;
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
}

.center{
  text-align: center
}

.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
  
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
  
}

.mx-1{
  margin-left: 23px;
  margin-right: 23px;
}

.my-2{
  margin-top: 32px;
  margin-bottom: 32px;
}
* {
  margin: 0;
  padding: 0; 
}


.navigation {
  margin-top: 0px;
  font-family: var(--font1);
  height: 130px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 12px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  
  text-decoration: none;
  color: black;
  
}

.nav-left ul li a:hover {
  color: peachpuff;
  font-weight: bolder;
}

.footer {
  height: 50px;
  background-color:#9F3B2E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}

.blog-post-content{
  /* background-color: rebeccapurple;*/
}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px; 
}

.row{
    display: flex;
}
.blogpost-meta{ 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
    font-size:20px;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}

